* {
    font-family: Impact;
}
main {
    display: flex;
}



.mapa {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
    
}
.area{
    
    display: grid;
    grid-template-columns: repeat(5,20%);        

}
.jogador {
     width: 48px;
    height: 48px;
    background-size: cover;
    
}

.celula {
     width: 70px;
    height: 70px;
    background-image: url(img/fundo.png);
    background-size: cover;
    
}
.celula.acesa{
   background-image: url(img/fundocolorido.png);
}
.celula.obstaculo.acesa{
    background-image: url(img/murocolorido.png);
}
.celula.obstaculo{
    background-image: url(img/muro.jpg);
}
.celula.obstaculo2{
    background-image: url(img/obstaculo2.png);
}
.celula.obstaculo3{
    background-image: url(img/obstaculo3.png);
}
.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
button{
    border :solid transparent 0px;
    margin:10px;
    height: 7vh;
    width:7vh;
    background-size: cover;
    background-position: center;
    box-shadow: 1px 1px 10px black ;
}
button:hover {
    border: 2px rgb(21, 21, 21) solid;
    border-radius: 2px;
}
.divedita {
    display: flex;
    align-items: center;
   

}

.edita{
   background-image: url("img/editar.png");
   background-size: cover;
   background-position: center;
   height: 3vw;
   width:3vw;
   padding: 0;
  
   margin: 0;
   margin-left: 5px;

}
.divedita button {
   height: 3vw;
   width:3vw;
   padding: 0;
  
   margin: 0;
   margin-left: 5px;
}


.botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 2;
    grid-row-start: 4;
    padding: 20px;
}

.main-jogo { 
    display:grid;
    grid-template-rows: repeat(4,25%);
    grid-template-columns: repeat(2,50%);
    width: 100%;
    height: 98vh;
}
.acoes{
    display: block;
    grid-column-start: 2;
    grid-row-start: 1;
    
}
.delete{
    background-image: url("img/delete.png"); 
}



.caixaacoes{ 
    box-sizing: border-box;
    border:2px solid rgb(21, 21, 21);
    border-radius: 10px;
    padding: 3px;

    margin: 10px;
    max-width: 100%;
    height:calc(100% - 15px - 2em);   
    
    display: flex;
    flex-flow:wrap;
    column-count: 5;
    box-shadow: 3px 3px 10px black ;
    
}
.caixaacoesf1{
    box-sizing: border-box;
    border:2px solid rgb(21, 21, 21);
    border-radius: 10px;
    padding: 3px;

    margin: 10px;
    max-width: 100%;
    height:calc(100% - 15px - 2em);   
    
    display: flex;
    flex-flow:wrap;
    column-count: 5;
    box-shadow: 3px 3px 10px black ;
    background-color: rgb(61, 129, 188);
}
.caixaacoesf2{
    box-sizing: border-box;
    border:2px solid rgb(21, 21, 21);
    border-radius: 10px;
    padding: 3px;

    margin: 10px;
    max-width: 100%;
    height:calc(100% - 15px - 2em);   
    
    display: flex;
    flex-flow:wrap;
    column-count: 5;
    box-shadow: 3px 3px 10px black ;
    background-color: rgb(61, 129, 188);
}
.textoAcoes {
    margin: 0px;
    padding: 0px;
}

.caixaacoes span{
    height: 50px;
    width: 50px; 
}
.caixaacoesf1 span{
    height: 50px;
    width: 50px; 
}
.caixaacoesf2 span{
    height: 50px;
    width: 50px; 
}

#rotaE{
    background-image: url("img/botaoE.png");
}

#frente {
    background-image: url("img/botaoF.png");
}
#rotaD{
    background-image: url("img/botaoD.png ");
}
#pular {
    background-image: url("img/pularteste.png");
}
#f1 {
   background-image: url("img/botaof1.png"); 
}
#f2 {
   background-image: url("img/botaof2.png"); 
}

#iniciar{
    background-image: url("img/botaoiniciar.png"); 
}
#acende{
    background-image:url("img/botaoacoff.png") ;
}

span{
    background-size: cover;
    background-position: center;
}

.jogador{
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url("img/jogador.png");
}

.tela {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    width: 98vw;
 
}
.container{
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px black solid;
    border-radius: 5px;
    box-shadow: 3px 3px 10px black ;
    padding: 40px;
    
}
.container img{
    height: 70%;
    width: 70%;
}
.botoes-inicio{
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    
}
.botoes-inicio a{
    width: 100%;
    
    
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
    align-items: center;

}
.botoes-inicio button{
    width: 100%;
  
    background-image: url("img/fase1.png");
    box-shadow: 8px 4px 10px rgb(98, 98, 98) ;
    background-position: 0%;
    background-repeat: no-repeat;
    background-size:contain;
    
    padding: 0;
    margin: 0;
    
}


.chegada{
    background-image: url("img/chegada.png");
}
