* {
    font-family: Impact;
}


body {
    background-color: rgb(148, 148, 34);
}


.mapa {
    grid-column-start: 1;
    grid-row-end: 2;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100%;
    
}
.area{
    display: grid;
    grid-template-columns: repeat(5,20%);        

}
.jogador {
     width: 48px;
    height: 48px;
    background-size: cover;
    
}

.celula {
     width: 48px;
    height: 48px;
    background-image: url(fundoteste.png);
    background-size: cover;
    
}
.celula.acesa{
   background-image: url(fundocoloridoteste.png);
}
.celula.obstaculo.acesa{
    background-image: url(tijolocoloridoteste.png);
}
.celula.obstaculo{
    background-image: url(tijoloteste.png);
}
.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
button{
    border :solid transparent 0px;
    margin:10px;
    height: 7vw;
    width:7vw;
    background-size: cover;
    background-position: center;
}
button:hover {
    border: 2px rgb(21, 21, 21) solid;
    border-radius: 2px;
}




.botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 2;
    padding: 20px;
}

main { 
    display:grid;
}
.acoes{
    display: block;
    grid-column-start: 2;
    grid-row-start: 1;
    
}



.caixaacoes{ 
    box-sizing: border-box;
    border:2px solid rgb(21, 21, 21);
    border-radius: 10px;
    padding: 3px;

    margin: 10px;
    max-width: 100%;
    height:calc(100% - 15px - 2em);   
    
    display: flex;
    flex-flow:wrap;
    column-count: 5;
    
}
.textoAcoes {
    margin: 0px;
    padding: 0px;
}

.caixaacoes span{
    height: 50px;
    width: 50px; 
}

#rotaE{
    background-image: url("botaoE.png");
}

#frente {
    background-image: url("botaoF.png");
}
#rotaD{
    background-image: url("botaoD.png ");
}
#pular {
    background-image: url("pularteste.png");
}

span{
    background-size: cover;
    background-position: center;
}

.jogador{
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url("jogadorteste.png");
}