* {
    font-family: Impact;
}

body {
    background-color: rgb(148, 148, 34);
}


.mapa {
    grid-column-start: 1;
    grid-row-end: 2;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100%;
    
}
.area{
    display: grid;
    grid-template-columns: repeat(5,20%);        

}
.jogador {
     width: 48px;
    height: 48px;
    background-size: cover;
    
}

.celula {
     width: 48px;
    height: 48px;
    background-image: url(https://th.bing.com/th/id/OIP.2v--1Tbp7W6Kbfe2IM5wZQHaE8?w=268&h=180&c=7&r=0&o=7&pid=1.7&rm=3);
    background-size: cover;
    
}
.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
button{
    margin:10px;
    height: 7vw;
    width:7vw;
    background-size: cover;
    background-position: center;
}





.botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 2;
    padding: 20px;
}

main { 
    display:grid;
}
.acoes{
    display: block;
    grid-column-start: 2;
    grid-row-start: 1;
    
}



.caixaacoes{ 
    box-sizing: border-box;
    border:2px solid rgb(255, 0, 0);

    margin: 10px;
    max-width: 50vw;
    height:calc(100% - 15px - 2em);   
    
    display: flex;
    flex-flow:wrap;
    column-count: 5;
    
}
.textoAcoes {
    margin: 0px;
    padding: 0px;
}

.caixaacoes span{
    height: 10%;
    width: 5%; 
}

#rotaE{
    background-image: url("botaoE.png");
}

#frente {
    background-image: url("botaoF.png");
}
#rotaD{
    background-image: url("botaoD.png ");
}

span{
    background-size: cover;
    background-position: center;
}

.jogador{
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url("jogadorteste.png");
}