* {
    font-family: Impact;
}


.mapa {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100%;
    
}
.area{
    display: grid;
    grid-template-columns: repeat(5,20%);        

}
.jogador {
     width: 48px;
    height: 48px;
    background-size: cover;
    
}

.celula {
     width: 48px;
    height: 48px;
    background-image: url(img/fundoteste.png);
    background-size: cover;
    
}
.celula.acesa{
   background-image: url(img/fundocoloridoteste.png);
}
.celula.obstaculo.acesa{
    background-image: url(img/murocolorido.png);
}
.celula.obstaculo{
    background-image: url(img/muro.jpg);
}
.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
button{
    border :solid transparent 0px;
    margin:10px;
    height: 7vw;
    width:7vw;
    background-size: cover;
    background-position: center;
    box-shadow: 1px 1px 10px black ;
}
button:hover {
    border: 2px rgb(21, 21, 21) solid;
    border-radius: 2px;
}




.botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 2;
    grid-row-start: 4;
    padding: 20px;
}

main { 
    display:grid;
    grid-template-rows: repeat(4,25%);
    grid-template-columns: repeat(2,50%);
}
.acoes{
    display: block;
    grid-column-start: 2;
    grid-row-start: 1;
    
}



.caixaacoes{ 
    box-sizing: border-box;
    border:2px solid rgb(21, 21, 21);
    border-radius: 10px;
    padding: 3px;

    margin: 10px;
    max-width: 100%;
    height:calc(100% - 15px - 2em);   
    
    display: flex;
    flex-flow:wrap;
    column-count: 5;
    box-shadow: 3px 3px 10px black ;
    
}
.caixaacoesf1{
    box-sizing: border-box;
    border:2px solid rgb(21, 21, 21);
    border-radius: 10px;
    padding: 3px;

    margin: 10px;
    max-width: 100%;
    height:calc(50% - 15px - 2em);   
    
    display: flex;
    flex-flow:wrap;
    column-count: 5;
    box-shadow: 3px 3px 10px black ;
    background-color: rgb(61, 129, 188);
}
.caixaacoesf2{
    box-sizing: border-box;
    border:2px solid rgb(21, 21, 21);
    border-radius: 10px;
    padding: 3px;

    margin: 10px;
    max-width: 100%;
    height:calc(50% - 15px - 2em);   
    
    display: flex;
    flex-flow:wrap;
    column-count: 5;
    box-shadow: 3px 3px 10px black ;
    background-color: rgb(61, 129, 188);
}
.textoAcoes {
    margin: 0px;
    padding: 0px;
}

.caixaacoes span{
    height: 50px;
    width: 50px; 
}

#rotaE{
    background-image: url("img/botaoE.png");
}

#frente {
    background-image: url("img/botaoF.png");
}
#rotaD{
    background-image: url("img/botaoD.png ");
}
#pular {
    background-image: url("img/pularteste.png");
}
#f1 {
   background-image: url("img/botaof1.png"); 
}

span{
    background-size: cover;
    background-position: center;
}

.jogador{
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url("img/jogadorteste.png");
}