body {
    background-color: rgb(148, 148, 34);
}

.mapa {
    grid-column-start: 1;
    display: flex;
    border-style: dashed;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    padding: 20px;

    
}
.area{
    display: grid;
    grid-template-columns: repeat(5,20%);    
    
    height: 40vw;
    width: 40vw;    

}
.jogador {
     width: 48px;
    height: 48px;
    background-size: cover;
    border: 1px black solid;
}

.celula {
     width: 48px;
    height: 48px;
    background-image: url(https://th.bing.com/th/id/OIP.2v--1Tbp7W6Kbfe2IM5wZQHaE8?w=268&h=180&c=7&r=0&o=7&pid=1.7&rm=3);
    background-size: cover;
    border: 1px black solid;
}
.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-end: 2;
    grid-column-end: 2;
}
button{
    margin:10px;
    height: 7vw;
    width:7vw;
    background-size: cover;
    background-position: center;
}





.botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    padding: 20px;
}

main {
    margin: 5px;
    border: 1px solid black;
    display:grid;


}
.acoes{
    
    grid-column-start: 2;
    grid-row-start: 2;
    padding: 10px;
}

.caixaacoes{ 
    box-sizing: border-box;
    border: 1px solid black;
    column-count: 5;
    
    
}
.caixaacoes img{
    height: 5vw;
    width: 5vw; 
}

#rotaE{
    background-image: url("botaoE.png");
}

#frente {
    background-image: url("botaoF.png");
}
#rotaD{
    background-image: url("botaoD.png ");
}

img{
        background-size: cover;
    background-position: center;
}