.mapa {
    border-style: dashed;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
}
.celula {
    padding: 5px;

}

.botoes img {
    height: 50px;
    width: 50px;

}
.botoes img:hover{
    height: 60px;
    width: 60px;
    animation-duration: 0.5s;
}

.botoes {
    padding: 20px;
}